body,
html {
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.rel-imagenIzquierda {
  background-image: url(../img/Fondo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffffff;
}
.rel-imagenIzquierda {
  text-align: center;
  color: aliceblue;
}

.rel-imagenIzquierda h1 {
  padding-top: 50vh;

}

.rel-loginDerecho {
  max-width: 50vw;
}

.rel-cuerpo-iniciar-sesion {
  width: 100%;
  margin: 0px;
}

.rel-formularioLogin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;
}

.rel-texto {
  margin-bottom: 15em;
  color: #005956;
}
.rel-texto h2 {
  font-size: 6em !important;
  min-width: 6em;
  max-width: 15em;

}
.rel-texto h6 {
  font-family: "Open Sans", sans-serif;
  color: #4c4c4c !important;
}
.btn {
  max-width: 25em;
  min-width: 6em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: ghostwhite;
  color: #000000;
  border: 1px solid ghostwhite;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn img {
  width: 2em;
  height: 2em;
  padding-right: 1em;
}

.rel-inciar-sesion-movil{
  display: none;
}

@media only screen and (max-width: 970px) {
  body {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  .rel-imagenIzquierda.col-md-6 {
    display: none;
  }
  .rel-loginDerecho {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }
  .rel-inciar-sesion-movil {
    margin-top: 10em;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  #cabecera {
    display: none;
  }
  a.btn.btn-primary {
    height: 2.7em;
  }
  .card {
    padding-top: 2em;
    width: 31em;
    height: 35em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px 0;
  }
  html{
    background-image: url(../img/Fondo.png);
  }
  body{
    background-color: transparent;
  }
  h1{
    color: white;
  }
  #imagen-card{
    margin-top: -6em;
    height: 9em;
  }
  .rel-boton-movil{
    margin-top: 4em;
  }
}
