@media only screen and (max-width: 1030px) {
  .rel-buscar {
    max-width: 10em !important;
  }
}

@media only screen and (max-width: 718px) {
  .rel-buscar {
    max-width: 7em !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60em !important;
    margin: 1.75rem auto;
  }
}

@media only screen and (max-width: 561px) {
  h2 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  .rel-contenido-agregar-monitor {
    font-size: 0.5em;
  }
  h3 {
    font-size: 2em;
  }
  .rel-agregar-monitor {
    width: 7.5em !important;
    height: 1.6em !important;
  }
  #imagen-logo {
    max-width: auto;
    max-height: 1.6em;
    margin-top: 1em !important;
  }
  #filtrar {
    margin-top: 1.5em !important;
    font-size: 1em !important;
  }
  .rel-buscar {
    max-width: 5em !important;
    font-size: 0.8em;
    margin-top: 0.8em !important;
  }
  #img-logo-user {
    max-width: 2em !important;
    margin-left: 1.4em;
  }
  .rel-contenedor-editarBorrar {
    padding-left: 0em;
  }
  .rel-editarBorrar {
    width: 1em !important;
    height: 1em !important;
    margin: 0em 0.5em 0em 0em !important;
  }
  .rel-iconos-menuLateral {
    width: 2em !important;
  }

  .rel-menuLateral {
    width: 5em !important;
  }
}
@media only screen and (max-width: 450px) {
  .rel-imagen-monitor {
    display: none;
  }
}

body {
  margin: 0px;
  padding: 0px;
}
.rel-cabecera {
  background-color: #1b1b1b;
  height: 4em;
  width: 100%;
  margin: 0px;
}

#imagen-logo {
  height: 2.8em;
  margin-top: 0.5em;
}

#img-logo-user {
  height: 2.8em;
  margin-top: 0.5em;
}

input#exampleFormControlInput1 {
  background-color: transparent;
  border: 0px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  max-width: 15em;
}

input#exampleFormControlInput1::placeholder {
  color: white;
  font-size: 1.2em;
  font-style: italic;
}

/* casilla de texto material ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
  background-color: transparent;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 10em;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.rel-group-fecha input {
  color: transparent;
}

.rel-group-fecha input:focus {
  color: black;
}

.rel-group-fecha input:valid {
  color: black;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #1b1b1b;
}

/*-------------*/
.btn-secondary {
  color: #fff;
  background-color: #6c757d28;
  border-color: #6c757d28;
  margin-top: 0.8em;
}

.btn-secondary:hover {
  color: #fff;
  background-color: rgba(141, 5, 5, 0.521);
  border-color: rgba(155, 6, 6, 0.281);
}

.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: rgba(141, 5, 5, 0.521);
  border-color: rgba(155, 6, 6, 0.281);
}

#filtrar {
  color: #ffffff;
  margin-top: 0.3em;
}

.rel-contenedor {
  display: flex;
  flex-flow: row;
}

.rel-menuLateral {
  width: 8em;
  border-right: 1px solid #afafaf;
  height: 93.2vh;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: space-evenly;
  background-color: #1b1b1b;
}
.rel-monitores {
  width: 100%;
}

.rel-iconos-menuLateral {
  width: 5em;
  align-items: center;
  margin-left: 1em;
}
.rel-contenedor-editarBorrar {
  display: flex;
  padding-left: 2em;
}
.rel-editarBorrar {
  width: 1.5em;
  height: 1.5em;
  margin: 0px 1em 0px 1em;
}

.rel-titulos {
  margin-bottom: 1em;
}
#calendario,
#configuracion {
  color: white;
}
.rel-nombre-monitor {
  display: flex;
  justify-content: center;
  align-content: center;
}
.rel-imagen-monitor {
  max-width: 2em;
  max-height: 2em;
  margin-right: 1em;
}
.rel-monitor {
  border-bottom: 1px solid #757575;
}
.rel-agregar-monitor {
  position: sticky;
  top: 90%;
  left: 70%;
  border-radius: 40px;
  background-color: #1b1b1b;
  width: 13em;
  height: 3, 5em;
  -webkit-box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.75);
}
.rel-contenido-agregar-monitor {
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  padding-top: 0.5em;
}
.rel-contenido-agregar-monitor img {
  height: 2em;
  margin-right: 1em;
}

#boton {
  text-decoration: none;
}

.rel-modal-body {
  margin-top: 1em;
  overflow:auto;
  height: 23em;
}
.rel-inputs {
  width: 13.5em;
}

.group label {
  margin-left: 1em;
}
